.nav-image {
  text-align: center;
  justify-content: center;
  background-image: url(./images/video-games-concept-gamepad-controls-260nw-1792571971.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 160px;
}

.login-form {
  justify-content: center;
  min-height: 100px;
  background-color: cornsilk;
}

.container {
  text-align: center;
  background-image: url(./images/27f9e10ac93d65cd611a04fe41d56bc5.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
}

h1 {
  color: crimson;
  text-transform: uppercase;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

h3 {
  color: crimson;
  text-transform: uppercase;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

h4 {
  color: crimson;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

h2 {
  color: crimson;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

a {
  color: antiquewhite;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
